body {
    font-family: Arial, sans-serif;
    background-color: #e7f6e7;
    color: #2b4726;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 1rem;
}

h1,
h2 {
    color: #1b5e20;
}

section {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 600px;
    border: 1px solid #d4e6d4;
    border-radius: 8px;
    background-color: #ffffff;
}

.charts-div {
    display: flex;
}

/* .charts {
    display: flex;
    max-width: 1200px;
} */

#temperature-chart {
    max-width: 150px;
    /* Shrinks the canvas width */
}

#humidity-chart {
    max-width: 150px;
    /* Shrinks the canvas width */
}

#other-metrics-chart {
    max-width: 300px;
    /* Shrinks the canvas width */
}

#alerts p {
    margin: 0.5rem 0;
    /* color: #d32f2f; */
}

canvas {
    margin-top: 1rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #388e3c;
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
    section {
        margin: 1rem;
        padding: 0.5rem;
    }

    header {
        padding: 0.5rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    .charts-div {
        flex-direction: column;
    }

    canvas {
        max-width: 100%;
    }

    button {
        width: 100%;
        font-size: 1rem;
    }
}